aws_lambda_powertools==2.9.0
pytest==8.3.2
python-dotenv==1.0.1
boto3==1.35.97
setuptools==75.1.0
pydantic==2.10.6
pydantic_core==2.27.2
requests==2.32.3
flask==3.1.0
bleach==6.2.0
filetype==1.2.0
stripe==12.1.0

# PY-JWT
pycryptodome
rsa
ecdsa != 0.15
pyasn1